
*{
    box-sizing: border-box;
}

.nav-container{
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
  
   
   
}
.logo-container{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}


.gamer{
    font-size: 30px;
}
.text-highlight{
    color: palevioletred;
}
.nav-img{
    height: 40px;
    width: 60px;
    margin-right: 5px;
}
.fa-youtube{
    color: red;
}
.nav-link{
    text-decoration: none;
}
.nav-website{
    
    width: 175px;
    height: 40px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
/* Second-section start */
.goat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 350px;
   background-color:  #FFF;;
   background-image: url(./images/Group\ 14.png);
   
}
 .goat-img{
    width: 50%;
    height:100%;
    margin-right: 100px;
   
}
.goat-about{
    height: 350px;
    margin-bottom: 60px;
    margin-top: 50px;
  
    
}
.goat-description{
 width: 40%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;

}
.btn-primary{
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 48px;
    gap: 10px;
    border: 0;
}
#sign-in{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));

}
#go-rough{
    background: #4EC5F7;
}
.img-house{
    width: 100%;
    height: 100%;
}
.goat-title{
    margin-top: 10px;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
}
.GOAT{
    background: -webkit-linear-gradient(#F948B2 0%, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 24px;
    align-items: center;
}
/* gamer-container starts */
.gamer-container{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    width: 100%;
}
.gamer-img{
    margin: 90px 90px;
}
.img-of-gamer{
    width: 470px;
    height: 280px;
    margin-left: 80px;
}
.gamer-description{
    text-align: right;
    margin-right: 100px;
}
.gamer-description-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
}
.gamer-description-para{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
#gamer-description-btn{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.purpose{
    color: #534C64;
font-size: 18px;
}
.unleash{
    color: #534C64;
font-size: 26px;
}
/* box-container start */
.parent-box-container{
    align-items: center;
}
.box-container{
    width: 100%;
    text-align: center;
}
 .box{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    margin-left: 240px;
    margin-right: 240px;
 }
.boxes{
    width: 150px;
    height: 160px;
    border: 0;
}
.box-img{
    width: 100%;
    height: 100%;
}
.box-container-span{
    background: -webkit-linear-gradient(#F948B2 0%, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    color: #0B0223;
}
.box-container-title{
    font-size: 48px;
}
.box-container-para{
    color: #534C64;
text-align: center;
font-size: 18px;
}
.box-p{
    color: #534C64;
font-size: 14px;
}
#overlay{
     background-color: rgba(38, 34, 34, 0.244);
    background-size: cover;
    background-blend-mode: multiply;
}
/* play container */
.play-container{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 160px;
}
.instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-description{
    width: 180px;
    text-align:right ;

}
.play-img-one{
    width: 300px;
    height: 300px;
}
.play-img-two{
    width: 130px;
    height: 140px;
    position: absolute;
    bottom: -10%;
    left: 5%;
}
.play-img-container{
    width: 400px;
    padding-left: 60px;
    border: 1px solid red;
    position: relative;
}
.play-description-title{
    font-size: 28px;
}






@media screen and (max-width:500px){
    .nav-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 17px;
    }
    .logo-container{
        flex-direction: column;
        height: 100%;
        margin-left: 25px;
    }
    .nav-items{
          flex-direction: column;
          height: 100%;
          width: 50px;
          gap: 15px;
          padding-bottom: 10px;
          text-align: center;
    }
    .items-info{
        width: 100px;
        

    }
    .goat-container{
        flex-direction: column-reverse;
        height: 100%;
    }
    .goat-description{
        width: 700px;
        margin: 25px 130px;
    }
    .gamer-container{
        flex-direction: column-reverse;
        /* height: 100%; */
        width: 200px;
        /* margin-left: 30px; */
        border: 1px solid red;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        margin-left: 130px;
    }
    .img-of-gamer{
        
        padding-right: 50px;
    }
    .box{
        flex-direction: column;
        border: 4px solid red;
        height: 1000px;
        width: 160px;
        gap: 30px;
        font-size: 8px;
        padding-bottom: 30px;
        justify-content: center;
        align-items: center;
       max-width: 500px;
       
    }
    .box-container-title, .box-container-span{
        font-size: 20px;
        text-align: center;
    }
    .box-container-para{
        font-size: 12px;
        text-align: center;
    }
    .box-container{
        border: 2px solid greenyellow;
    }
    .parent-box-container{
        border: 2px solid blue;    
    }
    
}